.venv/
__pycache__/
*.py[cod]
config.json
.photo_share_cache/
.photo_share_backup/
.photo_share_trash/
.photo_share_ratings.json
.photo_share_thumbs/
tmp*/
.idea
test_out
.photo_share_bracket_results
.deploy/
*.prj
build/
dist/
